<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mfcu.zerosnapscanner">

    <application
        android:name="com.mfcu.zerosnapscanner.ZerosnapApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="merge">
        <activity android:name="com.mfcu.zerosnapscanner.MainActivity">
        </activity>
        <activity android:name="com.mfcu.zerosnapscanner.InitActivity"
            android:theme="@style/DialogActivity"></activity>
        <activity android:name="com.mfcu.zerosnapscanner.ZerosnapScannerActivity" />
        <activity android:name="com.mfcu.zerosnapscanner.SubscriptionActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/razor_pay_key" />
    </application>

</manifest>